<!DOCTYPE html>
<html>
<head>
    <title>Productos Disponibles</title>
</head>
<body>
    <h1>Productos Disponibles</h1>
    <ul>
        {% for producto in productos %}
        <li>
            {{ producto.nombre }} - ${{ producto.precio }} - Stock: {{ producto.stock }}
            <form action="/cliente/comprar/{{ producto.id }}" method="post" style="display:inline;">
                <input type="number" name="cantidad" placeholder="Cantidad" min="1" max="{{ producto.stock }}" required>
                <button type="submit">Comprar</button>
            </form>
        </li>
        {% endfor %}
    </ul>
    <a href="/cliente/carrito">Ver Carrito</a>
</body>
</html>
